<div class="container">
    <h2>Inscription</h2>
    <form [formGroup]="registerForm" (ngSubmit)=submitForm()>
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" formControlName="name" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirmé mot de passe</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Inscription</button>
    </form>
</div>